<div class="footer">
    <div>
        <ul class="footerMenu">
        <li>Privacy</li>
        <li>Terms & Conditions</li>
        <li>Digital Accessibility</li>
        </ul> 
    </div>  
</div>
</body>
</html>
