<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
, initial-scale=1.0"
    />
    <title>macDonalds</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="header">
      <div>
        <span>
          <a href="/orders/"><li>Menu</li></a></span
        >
        <span
          ><a href="/orders/showOrder/"><li>Order</li></a></span
        >
      </div>
      <div><img src="/images/McD-squareLogo.png" alt="" /></div>
      <ul class="right">
        <li>
          <% if (user) { %>
          <a href="/logout"
            ><i class="material-icons left">trending_flat</i>Log Out</a
          >
          <% } else { %>
          <a href="/auth/google"
            ><i class="material-icons left">vpn_key</i>Login with Google</a
          >
          <% } %>
        </li>
      </ul>
    </div>
  </body>
</html>
