<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
, initial-scale=1.0"
    />
    <title>macDonalds</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <span>
          <a href="/orders/"><li>Menu</li></a></span
        >
        <span
          ><a href="/orders/showOrder/"><li>Order</li></a></span
        >
      </div>
      <div><img src="/images/McD-squareLogo.png" alt="" /></div>
    </div>
  </body>
</html>
