<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
, initial-scale=1.0"
    />
    <title>macDonalds</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="bgRed">
    <div class="indexContainter">   
        <div class="siteBtn">
          <% if (user) { %>
          <a href="/foods/" class="white font20">Start to Order</a>
          <%}%>
        </div>
        <div class="Logo">
          <img src="/images/McDonald's_logo.gif" width="60%" alt="" />
        </div>      
        <div class="Google">         
            <% if (user) { %>
              <a href="/logout" class="white">Log Out</a>
              <% } else { %>
              <a href="/auth/google" class="white">Login with Google</a>
              <% } %>
        </div>
         
        </ul>
      </div>
    </div>   
  </body>
</html>
