<%- include('./partials/header') %>

<div><img src="https://i.imgur.com/L3o8q2Q.png" alt="" /></div>
<div><img src="../images/mcdonalds-coca-cola.jpeg" alt="" /></div>
<div>hello</div>
<%- include('./partials/footer') %>
