<%- include('../partials/header') %>

<h1>Order summary</h1>

<%order.foods.forEach (function(food) {%>
    user:<%=order.userId%><br>  
    <div>name:<%=food.food.name%></div>
    <div><%=food.Quantity%></div>
<%})%>
